html, body {
  width: 100%;
  margin: 0;
  margin-top: 0px;
  padding: 0;
  font-family: monospace;
  background: black;
  color: #00ee00;
  font-size: 13px;
}

@keyframes crt {
    from {
      opacity: 0.3;
    }
    to   {
      opacity: 0.7;
    }
}

@keyframes tv_shaking {
    from {
      opacity: 0.1;
      margin-top:-20px;
    }
    to   {
      opacity: 0.9;
      margin-top:20px;
    }
}

@keyframes tv_hardcore {
    from {
      opacity: 0.1;
      margin-top:-80px;
      margin-left:-100px;
    }
    to   {
      opacity: 0.9;
      margin-top:0px;
      margin-left:100px;
    }
}
@keyframes shake {
    from {
      width:100%;
      height:10px;
      overflow: hidden;
      background: black;
      overflow-y: scroll;
    }
    to   {
      width:50%;
      height:1px;
      overflow: hidden;
      background:red;

    }
}
.nothing {
  animation: shake 1s;
  animation-timing-function: ease-in-out;
  /*animation-duration: 0.6s;*/
  /*animation-delay: 1s;*/
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}


a, a:visited, a:link {
  color: #aaffaa !important;
  padding-bottom: 0px;
  border-bottom: 1px solid #aaffaa;
  text-decoration: none !important;
}
u {
  text-decoration: none;
  border-bottom: 1px solid #00ee00;
  font-weight: normal;
}
h5 {
  font-size: 13px;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  color: white;
}

hr {
  border: 0px;
  border-color: #004400;
  border-bottom-width: 1px;
  border-style: dashed;
}

.main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 20px;
  padding-bottom: 200px;
  /*background:red;*/
}

.row {
  padding: 5px 0px;
  display: block;
}

.column {
  display: inline-block;
}

.right {
  float: right;
}

span {
  color: #005500;
}

#login-buttons {
  margin-right: auto;
  background-color: black;
  text-align: right;
}

.login-buttons-dropdown-align- {
  position: relative;
  display: block;
  width: 300px;
  background: black;
}

.accounts-dialog {
  background: black;
  border: none;
  color: #00ee00;
  border-radius: 0px;
}

.login-form>div>input {
  background: black;
  border: none;
  border-color: #00ee00;
  border-radius: 0px;
  border: 1px solid #00ee00;
  font-family: monospace;
}

.login-form>div>label {
  font-family: monospace;
}

.login-form>div>a {
  font-family: monospace;
}

#login-buttons .login-button, .accounts-dialog .login-button {
  cursor: pointer;
  padding: 4px 8px;
  font-size: 80%;
  font-family: monospace;
  line-height: 1.5;
  text-align: center;
  color: #000;
  background: #00ee00;
  border: 1px solid #00ee00;
  border-radius: 0px;
}

#login-buttons .login-button:hover, .accounts-dialog .login-button {
  background: black;
  color: #00ee00;
}

#login-buttons input[type=text], .accounts-dialog input[type=text], #login-buttons input[type=email], .accounts-dialog input[type=email], #login-buttons input[type=password], .accounts-dialog input[type=password] {
  border: 1px solid #00ee00;
  border-radius: 0px;
}

.edit-home-submit {
  display: block;
}

button {
  background: #00ee00;
  color: black;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 8px;
  font: monospace;
  font-size: 16px;
}

button:hover {
  background: black;
  border: 1px solid #00ee00;
  color: #00ee00;
}

.projection-button {
  background: #00ee00;
  color: black;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 8px;
  font: monospace;
  font-size: 16px;
}

.projection-button:hover {
  background: black;
  border: 1px solid #00ee00;
  color: #00ee00;
}

.projection-button-count {
  cursor: pointer;
  background: #000000;
  border: none;
  padding: 8px;
  color: #00ee00;
  font-weight: bold;
  font: monospace;
  font-size: 21px;
  min-width: 40px;
  text-align: right;
}

.projection-button-count:hover {
  color: red;
}

input, textarea, select {
  padding: 4px 8px;
  background: black;
  border: 1px solid #00ee00;
  margin: 0px;
  font-size: 14px;
  font-family: monospace;
  height: 24px;
  color: #00ee00;
  /*min-width: 300px;*/
}

input[type='checkbox'] {
  width: 0px;
  height: 18px;
  margin-bottom:9px;
}

input[type='checkbox']+label {
  font-size: 19px;
  cursor: pointer;
}

input[type='checkbox']+label:before {
  content: "[ ] ";
}

input[type='checkbox']:checked+label:before {
  content: "[x] ";
}

textarea {
  height: auto;
  width: auto;
  width: 80%;
}

select {
  height: auto;
}

@keyframes flash {
  from {
    color: white;
  }
  to {
    color: #00ee00;
  }
}

.flash-number {
  animation-name: flash;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
}
